In [29]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from subprocess import check_output
print(check_output(["ls", "../data"]).decode("utf8"))

penguins_raw.csv

In [30]:
penguins = pd.read_csv("../data/penguins_raw.csv") # loading dataset

In [31]:
# Removing unecessary columns
penguins.drop('studyName',axis=1,inplace=True)
penguins.drop('Sample Number',axis=1,inplace=True)
penguins.drop('Region',axis=1,inplace=True)
penguins.drop('Island',axis=1,inplace=True)
penguins.drop('Stage',axis=1,inplace=True)
penguins.drop('Individual ID',axis=1,inplace=True)
penguins.drop('Clutch Completion',axis=1,inplace=True)
penguins.drop('Date Egg',axis=1,inplace=True)
penguins.drop('Sex',axis=1,inplace=True)
penguins.drop('Delta 15 N (o/oo)',axis=1,inplace=True)
penguins.drop('Delta 13 C (o/oo)',axis=1,inplace=True)
penguins.drop('Comments',axis=1,inplace=True)

penguins.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 5 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Species              344 non-null    object
 1   Culmen Length (mm)   342 non-null    float64
 2   Culmen Depth (mm)    342 non-null    float64
 3   Flipper Length (mm)  342 non-null    float64
 4   Body Mass (g)        342 non-null    float64
dtypes: float64(4), object(1)
memory usage: 13.6+ KB

In [32]:
# Simplify the Species column
species = penguins['Species']
adelie = species.str.contains("Adelie")
gentoo = species.str.contains("Gentoo")
chinstrap = species.str.contains("Chinstrap")

penguins['Species'] = np.where(adelie, "Adelie", 
                              np.where(gentoo, "Gentoo", 
                                      np.where(chinstrap, "Chinstrap", "-")))

In [33]:
penguins.head(5)

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g)
0,Adelie,39.1,18.7,181.0,3750.0
1,Adelie,39.5,17.4,186.0,3800.0
2,Adelie,40.3,18.0,195.0,3250.0
3,Adelie,NaN,NaN,NaN,NaN
4,Adelie,36.7,19.3,193.0,3450.0